<form *ngIf="!authService.isloggedIn()" (ngSubmit)="onInscriptionSubmit()" #inscriptionForm="ngForm"
 style="text-align:center; margin-top:5%;" >

<div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Email</label>
        <div class="col-10">
          <input class="form-control" type="email" value="email" id="email" [(ngModel)]="email" name="email" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-search-input" class="col-2 col-form-label">Mot de passe</label>
        <div class="col-10">
            <input class="form-control" type="password"  id="password" [(ngModel)]="password" name="password" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-email-input" class="col-2 col-form-label">Nom</label>
        <div class="col-10">
            <input class="form-control" type="text" id="nom" [(ngModel)]="nom" name="nom" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-url-input" class="col-2 col-form-label">Prenom</label>
        <div class="col-10">
            <input class="form-control" type="text" id="prenom" [(ngModel)]="prenom" name="prenom" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
        <div class="col-10">
          <input class="form-control" type="tel" id="telephone" [(ngModel)]="telephone" name="telephone" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-password-input" class="col-2 col-form-label">Ville</label>
        <div class="col-10">
          <input class="form-control" type="text" id="ville" [(ngModel)]="ville" name="ville" required>
        </div>
      </div>
      <button class="form-control" type="submit">Inscription</button>
    </form>     
      