 
<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
<body>
   <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" routerLink="/acceuil" >Bienvenue sur votre site de covoiturage </a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                        <a class="nav-link" *ngIf="authService.isloggedIn()" routerLink="/acceuil" >Acceuil</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" *ngIf="!authService.isloggedIn()" routerLink="/connexion">Connexion <span class="sr-only">(current)</span></a>
                </li>
               
                <li class="nav-item">
                        <a class="nav-link"  *ngIf="authService.isloggedIn()" routerLink="/addTrajet">Proposer un Trajet</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!authService.isloggedIn()" routerLink="/inscription" >Inscription</a>
                </li>
                <li class="nav-item">
                        <a ><button class="form-control"  (click)="logout()" *ngIf="authService.isloggedIn()">Déconnexion</button></a>
                    </li>
              </ul>
            </div>
          </nav>