<br /><br /><br /><br /><br /><br /><br /><br /><br /> 

<div style="bottom:10% important; " class="row" *ngIf="!authService.isloggedIn()" >
      <div class="row" style="position:absolute; left:20%;">
          <div *ngFor="let derniersTrajets of derniersTrajets ">
      <div class="col-sm"> 
        <div class="card">
          <div class="card-block">
              <div class="card-block">
                  <h3 class="card-title">{{derniersTrajets.depart}}  -->  {{derniersTrajets.arrivee}} </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
   

   



 