
 <form (ngSubmit)="onAddTrajetSubmit()" #addTrajetForm="ngForm">
      <div class="form-group row">
          <label for="example-search-input" class="col-2 col-form-label">Depart</label>
          <div class="col-10">
              <input class="form-control" type="text" placeholder="Depart" value="depart"  id="depart" required
              [(ngModel)]="depart" name="depart" />
          </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Arrivee</label>
            <div class="col-10">
                <input class="form-control"type="text" placeholder="Arrivee" value="arrivee"  id="arrivee" required
                [(ngModel)]="arrivee" name="arrivee" />
            </div>
          </div>
          <div class="form-group row">
              <label for="example-search-input" class="col-2 col-form-label">RDV Depart</label>
              <div class="col-10">
                  <input class="form-control" type="text" placeholder="rdvDepart" value="rdvDepart"  id="rdvDepart" required
                  [(ngModel)]="rdvDepart" name="rdvDepart">
              </div>
            </div>
 
            <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">RDV Depose</label>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="rdvDepose" value="rdvDepose"  id="rdvDepose" required
                    [(ngModel)]="rdvDepose" name="rdvDepose" />    
                </div>
              </div>

              <div class="form-group row">
                  <label for="example-search-input" class="col-2 col-form-label">Date</label>
                  <div class="col-10">
                      <input class="form-control" type="date" placeholder="date" value="date"  id="date" required
                      [(ngModel)]="date" name="date" /> 
                  </div>
                </div>
     
 
                <div class="form-group row">
                    <label for="example-search-input" class="col-2 col-form-label">Distance</label>
                    <div class="col-10">
                        <input class="form-control" type="tel" placeholder="distance" value="distance"  id="distance" required
                        [(ngModel)]="distance" name="distance">
                    </div>
                  </div>

                <div class="form-group row">
                    <label for="example-search-input" class="col-2 col-form-label">Prix</label>
                    <div class="col-10">
                        <input class="form-control" type="number" placeholder="prix" value="prix"  id="prix" required
                        [(ngModel)]="prix" name="prix">     
                    </div>
                  </div>
                  <button class="form-control" type="submit">Ajouter le trajet</button>
 </form> 
    
 

        