
<div *ngIf="trajetById!=undefined" > 
    <div  *ngFor="let infoTrajet of trajetById " >
<div class="container" >
        <div ><iframe [src]="src" width="600" height="500" style="position:absolute;right:20px "
            webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>
            <div class="col-md-5" >
                <div class="form-area">
                    <form role="form" (submit)="onClickSubmit()" >
                    <br style="clear:both">

                                <pre><u>nom</u> :   {{infoTrajet.user.nom}}  </pre>
                              <br>
                                <pre><u>Prenom :</u> {{infoTrajet.user.prenom}}  </pre>
        <br><pre><u>Adresse de départ :</u> {{infoTrajet.trajets.depart}}  </pre>
            <br>   <pre> <u>RDV Depart : </u>  {{infoTrajet.trajets.rdvDepart}}  </pre>
            <br>
            <pre>Adresse d'arrivee : {{infoTrajet.trajets.arrivee}}   </pre>
                <br>   <pre><u>RDV Depose :</u>{{infoTrajet.trajets.rdvDepose}}   </pre>
                
                <br>
      
      
                    <pre><u>Date :</u> {{infoTrajet.trajets.date}}  </pre>
      
      <br>
      <br>   <pre><u>Distance</u> : {{infoTrajet.trajets.distance}}   </pre>
      <br>
      
                      <pre><u>Prix :</u> {{infoTrajet.trajets.prix}} euro </pre>
      <br>
      
       
  
      <br> <br>
      <button  type ="submit" style="margin-bottom: 25px; text-align: center;" class="form-control">Demande de réservation</button>
      </form>
   </div>
</div>
      
</div>
</div>
 
 

 