
<h1>Liste des trajets proposées</h1>
 
<form (ngSubmit)="onTrajetSubmit()" #trajetForm="ngForm" >
 
    <div *ngFor="let trajets of listeTrajets ">
      <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title"> {{trajets.depart}}  ==> {{trajets.arrivee}} </h3>
            <p class="card-text">A seulement {{trajets.prix}} euros !</p>
            <a class="btn btn-primary" [routerLink]="['/trajets', trajets.userID]" >Voir ce trajet </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>