<form *ngIf="!authService.isloggedIn()" (ngSubmit)="onConnexionSubmit()" #connexionForm="ngForm" >
<div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Email</label>
        <div class="col-10">
          <input class="form-control" type="email" value="email" id="email" [(ngModel)]="email" name="email" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="example-search-input" class="col-2 col-form-label">Mot de passe</label>
        <div class="col-10">
            <input class="form-control" type="password"  id="password" [(ngModel)]="password" name="password" required>
        </div>
     </div>
      <button class="form-control" type="submit">Connexion</button>
    </form>
    