/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    background: #eeeeee;
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
 